@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
*{
   
}
nav{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.sq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: coral;
}

ul{
     margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* If flex: 1 is not used, it won't work */
    flex: 1 !important;
    background-color:rgb(180,133,81);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
   font-weight: bold;  
}
#sh{
    text-shadow: 1px 4px 1px #7d7777;
    
}